body{
  font-family: 'Roboto Mono', monospace;
  margin:0;
  
}
.flag-container{
  display:flex;
  margin-top:20px;
  margin-bottom:100px;

  
}
.half-width{
  width:50%;
  padding:0px 40px;
  
  
}
#class-half-width{
  padding:50px 40px;
  
}
.half-width-image{
  width:80%;
  
 
}
.welcome-title{
  color:#333;
  font-size:20px;
  font-size:50px;
  
}
.color{
  color:orangered;
}
p,li{
  font-size:20px;
  color:slategray;
}
/* we will come back here for the image part*/
.first-button{
  display:inline-block;
  margin-top:20px;
  text-decoration:none;
  color:white;
  font-weight:700;
  background-image:linear-gradient(orange,tomato);
  padding:10px 20px;
  border-radius:20px;
  border:2px solid;
  
}
/*end of the first section */
.second-container{
  
  background-image:url(images/shapes/Frame\ 57.jpg);
  background-repeat:no-repeat;
  margin-bottom:100px;
  
 
}
#second-image{
  width:50%;
  padding:0px 150px;
  

}
#second-text{
  padding:50px 40px;
 
}

/*end of second section*/
.third-container{
  margin-top:50px;
  margin-bottom:100px;
}
.recipe-image{
 display:flex;
 
}
.recipie-section{
  text-align:center;
}
#recipie-section-paragraph{
  
  margin:10px 450px;
  line-height:1.7em;
  margin-bottom:20px;
  text-align:justify;
}
.first-image-container{
    display:block;
    height:80%;
    width:15%;
    margin-left:25%;

    border-radius:20px;
    text-align:center;
    padding-top:20px;
    border:2px solid whitesmoke;
    background-color:white;
    box-shadow:20px 20px 50px whitesmoke;
      

}
.below-text{
  text-align:left;
  padding-left:10px;
}
#first-recipie-pic{
  height:200px;
  width:250px; 
  object-fit:cover;
  border-radius:10px;
  
  
}
.seond-image-recipie-class{
 margin-left:40px;
}
/*end of third section*/
.keto{
  
  margin-top:100px;
  margin-left:20px;
  padding-top:100px;
  padding-bottom:100px;
}


/*end of fourth section */
.review{
  margin-top:100px;
  margin-bottom:100px;


}
#seclector{
  display:flex;
  text-align:center;
  margin:0% 45%;
  height:5%;
  width:10%;
 


}
.customer-opinion{
  text-align:center;
  color:#DD4124;

  
  


}
.key{
 font-size:50px;
}
/*end of fifth section */
footer{
  background-color:black;
  
}
.footer-text-color{
  
  color:white;
}
.footer-container{
  padding:10px;
  text-align:center;
  height:180px;
  margin-bottom:-100px;
}